{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
<!-- /****************************************
Fichier : index.html.twig
Auteurs : Isabelle Rioux, Étienne Ménard
Fonctionnalité : Template d'affichage de la liste d'utilisateurs
Date : 21/04/2022
Vérification :
Date Nom Approuvé
=========================================================
Historique de modifications :
Date: 25/04/2022 Nom: Isabelle Rioux Description: Affichage de la liste de joueurs
Date: 26/04/2022 Nom: Isabelle Rioux Description: Ajout de la recherche d'un joueur
Date: 26/04/2022 Nom: Étienne Ménard Description: Application du CSS
Date: 27/04/2022 Nom: Étienne Ménard Description: Modification du titre de la page
...
=========================================================
****************************************/-->

<main>
    <h1 class="userTitle">Messages</h1>

    <section class="flexUserSearch">
      
    </section>

    <section class="flexUserRes">
    {% for element in listeMessages %}
        <p>Message: {{element.contenu}} </p>
    {% endfor %}

    {% for element in listeThread %}
        <p>Thread: {{element.titre}} </p>
    {% endfor %}
    </section>
</main>
{% endblock %}
