{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}

<main>
<h1>Gestionnaire de messages</h1>

<ul>
    {% for element in listeMessages %}
    <li> {{element.contenu}}</li>
    {% endfor %}
</ul>
</main>
    
{% endblock %}
