# Tous les fichiers .docx (peu importe dans quels sous-dossiers ils se trouvent) sont ignorés.
**/*.docx

# Tous les fichiers téléchargés via Composer (se trouvant dans le dossier vendor) sont ignorés.
**/vendor/

# Les fichiers HTML de courriels générés par PHP (se trouvant dans le dossier email) sont ignorés.
**/email/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide