{% extends 'base.html.twig' %}

{% block title %}Action refusée{% endblock %}

{% block body %}
<!-- /****************************************
Fichier : ban.html.twig
Auteurs : Isabelle Rioux, Étienne Ménard
Fonctionnalité : Template d'affichage d'un seul utilisateur
Date : 26/04/2022
Vérification :
Date Nom Approuvé
=========================================================
Historique de modifications :
Date: 26/04/2022 Nom: Isabelle Rioux Description: affichage si un joueur est banni
Date: 26/04/2022 Nom: Étienne Ménard Description: Application du CSS
...
=========================================================
****************************************/-->

<main>
<h1>{{user.username}} est un administrateur. Il/elle ne peut être banni</h1>
</main>
{% endblock %}
