{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}
<main>
        {% if form.mdp %}
            <script>
                sendEvent(1, 1, "testUser");
            </script>
        {% endif %}

<script>
    userId = 1;                     // À remplacer par l'id de l'utilisateur connecté
    eventType = 1;                  // Le type 1 est "inscription d'utilisateur"
    message = "{{form.username}} s'est inscrit le [date]";           // Les "détails" de l'événement (le message à envoyer dans l'accueil)
    sendEvent(userId, eventType, message);
</script>

<h1>Merci de vous être inscrit!</h1>
</main>
{% endblock %}
