{% extends 'base.html.twig' %}

{% block title %}Joueurs{% endblock %}

{% block body %}
<!-- /****************************************
Fichier : index.html.twig
Auteurs : Isabelle Rioux, Étienne Ménard
Fonctionnalité : Template d'affichage de la liste d'utilisateurs
Date : 21/04/2022
Vérification :
Date Nom Approuvé
=========================================================
Historique de modifications :
Date: 25/04/2022 Nom: Isabelle Rioux Description: Affichage de la liste de joueurs
Date: 26/04/2022 Nom: Isabelle Rioux Description: Ajout de la recherche d'un joueur
Date: 26/04/2022 Nom: Étienne Ménard Description: Application du CSS
Date: 27/04/2022 Nom: Étienne Ménard Description: Modification du titre de la page
...
=========================================================
****************************************/-->

<main>
    <h1>Liste des joueurs</h1>
    {{form(form_user)}}
    {% for user in list_users %}
        {{user.username}}: {{user.idStatut.statut}} <a href="/user/{{user.id}}">Afficher le profil</a>
    {% endfor %}
</main>
{% endblock %}
