{% extends 'base.html.twig' %}

{% block title %}Liste d'utilisateurs{% endblock %}

{% block body %}
<!-- /****************************************
Fichier : index.html.twig
Auteur : Isabelle Rioux
Fonctionnalité : Template d'affichage de la liste d'utilisateurs
Date : 21/04/2022
Vérification :
Date Nom Approuvé
=========================================================
Historique de modifications :
Date: 25/04/2022 Nom: Isabelle Rioux Description: Affichage de la liste de joueurs
Date: 26/04/2022 Nom: Isabelle Rioux Description: Ajout de la recherche d'un joureur
...
=========================================================
****************************************/-->
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste des joueurs</h1>
    {{form(form_user)}}
    {% for user in list_users %}
        {{user.username}}: {{user.idStatut.statut}} <a href="/user/{{user.id}}">Afficher le profil</a>
    {% endfor %}
</div>
{% endblock %}
