{% extends 'base.html.twig' %}

{% block title %}{{user.username}} de nouveau autorisé{% endblock %}

{% block body %}
<!-- /****************************************
Fichier : ban.html.twig
Auteurs : Isabelle Rioux, Étienne Ménard
Fonctionnalité : Template d'affichage d'un seul utilisateur
Date : 26/04/2022
Vérification :
Date Nom Approuvé
=========================================================
Historique de modifications :
Date: 26/04/2022 Nom: Isabelle Rioux Description: affichage si un joueur n'est plus banni
Date: 26/04/2022 Nom: Étienne Ménard Description: Application du CSS
...
=========================================================
****************************************/-->

<main>
    <h1>{{user.username}} n'est plus banni</h1>
    
</main>
{% endblock %}
