{% block footer %}
<footer>
<div class="credits">
    <p>Mi-Mot-Za 2022 © Felix Alberto Albarracin Oviedo, François-Nicolas Gitzhofer, Étienne Ménard, Isabelle Rioux</p>
</div>
</footer>
{% endblock %}