{% block header %}
<header>

    <h1 class="headerTitle">Mi-Mot-Za</h1>
    
    {% if app.user %}
        <a class="connexionBtn deconnexion" href="http://localhost:8000/redirect/{{app.user.getId()}}/3/|logout">Déconnexion</a>
    {% else %}
        <a class="connexionBtn connexion" href="http://localhost:8000/login">Connexion</a>
    {% endif %}
</header>
<nav>
    <ul class="flexnav">
        <li><a href="http://localhost:8000/">Accueil</a></li>
        <li><a href="http://localhost:8000/user">Joueurs</a></li>
        <li><a href="http://localhost:8000/GestionDuJeu">Jeu</a></li>
        <li><a href="http://localhost:8000/message">Messages</a></li>
    </ul>
</nav>
{% endblock %}