{% block header %}
<div class="example-wrapper">
    <ul>
        <li> <a href="http://localhost:8000/">Accueil</a></li>
        <li> <a href="http://localhost:8000/joueurs">Gestion des joueurs</a></li>
        <li> <a href="http://localhost:8000/GestionDuJeu">Gestion du jeu</a></li>
        <li> <a href="http://localhost:8000/message">Gestion des message</a></li>
    </ul>
    </br>
</div>

{% endblock %}