{% block header %}
<header>
    <h1 class="headerTitle">Mi-Mot-Za</h1>
    <a class="connexionBtn deconnexion" href="http://localhost:8000/">Déconnexion</a>
    <div class="conBox">
        
    </div>
</header>
<nav>
    <ul class="flexnav">
        <li><a href="http://localhost:8000/">Accueil</a></li>
        <li><a href="http://localhost:8000/user">Gestion Joueurs</a></li>
        <li><a href="http://localhost:8000/GestionDuJeu">Gestion Jeu</a></li>
        <li><a href="http://localhost:8000/message">Gestion Messages</a></li>
    </ul>
</nav>
{% endblock %}